/*
- Header
	#topBar
		#welcome
		#tel_mail
	#nav
		h1
		.menu

- Footer


Pages:

- #ACCUEIL
	#slider
		.slide
			.title
			.description
			.button

- #TRAVAUX
	#slider
		.slide
			.title
			.description
			.button
	#exemples
*/


body{
	margin: 0px;
}

.flex{
	display: flex;
	justify-content: space-around;
	flex-wrap: wrap;
	align-items: center;
}


/* HEADER */
header #topBar{
	text-align: center;
	border-bottom: 1px solid rgba(0, 0, 0, 0.1);
	font-size: 15px;
	font-weight: lighter;
	padding: 16px;
}

header #topBar #tel_mail span{
	margin: 8px;
	min-width: 200px;
}

header #nav{
	margin-bottom: 5px;
}

header #nav h1{
	font-size: 35px;
	margin-left: 70px;
	margin-right: 70px;
}

header #nav .menu ul{
	margin-right: 10px;
	padding: 0;
	display: flex;
	justify-content: space-between;
}

header #nav .menu li{
	list-style-type: none;
	margin: 15px;
	margin-bottom: 12px;
}

header #nav .menu a{
	text-decoration: none;
}

header #nav a:visited{
	color: #3E3E3E;
	font-weight: lighter;
}

header #nav a span{
	margin-left: 50px;
	margin-right: 50px;
	background-color: #38ADA9;
	font-size: 16px;
	color: white;
	padding: 19px 30px 19px 30px;
	border-radius: 35px;
}


/* ACCUEIL */

	/* Slider */
#accueil #slider{
	background: url('../img/accueil/slide.png');
	background-size: cover;
	color: white;
}

@media screen and (max-width: 1060px){
	#accueil #slider{
		margin-top: 20px;
	}
}

#accueil #slider .slide{
	background: linear-gradient(-90deg, rgba(56, 173, 169, 0.7), rgba(9, 62, 60, 0.7));
	height: 831.84px;
	flex-wrap: nowrap;
}

#accueil #slider .slide div{
	/*padding: 208px 448px 208px 448px;*/
	padding: 4px;
	width: 1025px;
}

@media screen and (max-width: 900px){
	#accueil #slider .slide div{
		text-align: center;
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
	}

	@media screen and (max-width: 600px){
		#slider .slide div h1{
			font-size: 32px;
			line-height: auto;
		}
	}
}

#accueil #slider .slide h1{
	font-size: 55px;
	font-weight: 450;
	width: 100%;
	line-height: 80px;
}

#accueil #slider .slide p{
	min-height: 92px;
	font-size: 16px;
	/*padding: 0px 423px 0px 8px;*/
}

#accueil #slider .slide .button{
	display: block;
	width: 228px;
	border-radius: 35px;
	background-color: #fff;
	font-size: 16px;
	font-weight: 700;
	text-align: center;
	margin-top: 15px;
	padding: 19px 0 19px 0;
}

/* Travaux */

	/* Slider */
#travaux #slider{
	background: url('../img/travaux/slide.jpg');
	background-size: cover;
	color: white;
}

@media screen and (max-width: 1060px){
	#travaux #slider{
		margin-top: 20px;
	}
}

#travaux #slider .slide{
	background: linear-gradient(-90deg, rgba(56, 173, 169, 0.7), rgba(9, 62, 60, 0.7));
	height: 831.84px;
	flex-wrap: nowrap;
}

#travaux #slider .slide div{
	/*padding: 208px 448px 208px 448px;*/
	padding: 4px;
	width: 1025px;
}

@media screen and (max-width: 900px){
	#travaux #slider .slide div{
		text-align: center;
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
	}

	@media screen and (max-width: 600px){
		#slider .slide div h1{
			font-size: 32px;
			line-height: auto;
		}
	}
}

#travaux #slider .slide h1{
	font-size: 55px;
	font-weight: 450;
	width: 100%;
	line-height: 80px;
}

#travaux #slider .slide p{
	min-height: 92px;
	font-size: 16px;
	/*padding: 0px 423px 0px 8px;*/
}

#travaux #slider .slide .button{
	display: block;
	width: 228px;
	border-radius: 35px;
	background-color: #fff;
	font-size: 16px;
	font-weight: 700;
	text-align: center;
	margin-top: 15px;
	padding: 19px 0 19px 0;
}

	/*exemples*/
#travaux #exemples{
	text-align: center;
	margin-top: 100px;
	background-color: #FAFAFA;
}

#travaux #exemples *{
	margin-top: 20px;
}

#travaux #exemples h1{
	font-size: 36px;
	font-weight: 500;
}

#travaux #exemples h2{
	font-size: 22px;
	font-weight: 500;
}

#travaux #exemples p{
	font-size: 14;
	font-weight: lighter;
}

#travaux #exemples .images{
	justify-content: center;
}

#travaux #exemples .images img{
	width: 50%;
}

#travaux #exemples .images p{
	width: 50%;
	font-size: 22px;
}

@media screen and (max-width: 900px){

	#travaux #exemples{
		margin-left: 20px;
		margin-right: 20px;
	}

	#travaux #exemples .images img{
		width: 100%;
	}
}




/*-----------------------Nos services------------------------*/


/* Services */

	/* Slider */
#services #slider{
	background: url('../img/travaux/slide.jpg');
	background-size: cover;
	color: white;
}

@media screen and (max-width: 1060px){
	#services #slider{
		margin-top: 20px;
	}
}

#services #slider .slide{
	background: linear-gradient(-90deg, rgba(56, 173, 169, 0.7), rgba(9, 62, 60, 0.7));
	height: 831.84px;
	flex-wrap: nowrap;
}

#services #slider .slide div{
	/*padding: 208px 448px 208px 448px;*/
	padding: 4px;
	width: 1025px;
}

@media screen and (max-width: 900px){
	#services #slider .slide div{
		text-align: center;
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
	}

	@media screen and (max-width: 600px){
		#services #slider .slide div h1{
			font-size: 32px;
			line-height: auto;
		}
	}
}

#services #slider .slide h1{
	font-size: 55px;
	font-weight: 450;
	width: 100%;
	line-height: 80px;
}

#services #slider .slide p{
	min-height: 65px;
	font-size: 16px;
	/*padding: 0px 423px 0px 8px;*/
}

#services #slide .rslide .button{
	display: block;
	width: 228px;
	border-radius: 35px;
	background-color: #fff;
	font-size: 16px;
	font-weight: 700;
	text-align: center;
	margin-top: 15px;
	padding: 19px 0 19px 0;
}
/* --------------------Contenu de nos services */
#services .con{
	width: 100%;
	height: auto;
	display: flex;
	justify-content: space-evenly;
	flex-direction: row;
	flex-flow: wrap;


}
#services .box{
	width: 21%;
	height: 400px;
	/* background: yellow; */
	margin: 20px;
	box-sizing: border-box;
	font-size: 50px;
}
#services .box h1{
	font-size: 20px;
}
#services .box img{
	height: 200px;
	width: 100%;
	float: right;
}
#services .box p{
	font-size: 14px;
	
}

@media screen and (max-width: 1200px ){
	#services .box{
		width: 40%;

	}
}
@media screen and (max-width: 600px ){
	#services .box{
		width: 90%;
		
	}
}
/* Contact US */

#services #slider12 .slide12{
	background: linear-gradient(-90deg, rgba(56, 173, 169, 0.7), rgba(9, 62, 60, 0.7));
	height: 266px;
	flex-wrap: nowrap;
}
#services .title {
	justify-content: center;
	text-align: center;
	color: #fff;

}
#services #slider12 .slide12 p{
	color: #fff;
}
#services #form{
	width: 80%;
    margin-left: 128px;
    margin-top: 14px;

}
#services #form em{
	color: red;
}
#services #form input{
	width: 100%;
	height: 33px;
}
#services #form label{
	margin-top: 30px;
}
#services textarea{
	width: 100%;
}
@media screen and (max-width : 1200 px){
	#services #form{
		width: 70%;
		margin-left: 13px;
		margin-top: 14px;
	}
}
@media screen and (max-width : 600 px){
	#services #form{
		width: 100%;
		margin-left: 0;
		padding: 0;
	}
	#services #form p{
		margin-left: 0em;
		width: 100%;
	}
	#services #form form{
		margin-left: 0em;
		width: 100%;
	}
}